<%= form_for @task, html: { class: 'main-panel' } do |f| %>
  <% if @team&.errors&.any? %>
    <div id='error_explanation'>
      <b>Cannot save the task:</b>
      <ul>
      <% @team.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <div class="add_field-menu">
    <div class='field'>
      <%= f.text_field :name, placeholder: 'Name' %>
    </div>
    <div class='field'>
      <%= f.text_field :category_name, placeholder: 'Category' %>
    </div>

    <div class='field'>
      <%= f.text_area :description, class: 'long', placeholder: 'Description' %>
    </div>
    <div class='field'>
      <%= f.label :assigned_at, class: 'caption' %>
      <%= f.datetime_field :assigned_at, class: 'datetime' %>
    </div>
    <div class='field'>
      <div class='field-caption'>
        <%= f.label :priority, class: 'caption_1' %>
        <%= f.number_field :priority, class: 'long' %>
      </div>  
    </div>

    <div class='actions-button'>
      <%= f.submit 'Сохранить', class: 'action_button' %>
    </div>
  </div>  
<% end %>