<div class="all-task">
  <h1>All tasks</h1>
</div>  
<div class="main-panel-content">
<%= content_tag :div, class: 'main-panel' do %>
  <%= content_tag :div, class: 'wrapper' do %>
    <% @tasks.each do |task| %>
      <%= content_tag :div, class: 'task' do %>
        <%= content_tag :span, class: 'task_name' do %>
          <%= link_to task.name, edit_task_path(task) %>
        <% end %>
        <%= content_tag :span, class: 'date' do %>
          <%= task.assigned_at_date %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
  <div class="button_addtask">
    <%= link_to 'Add', new_task_path, class: 'button-one' %>
    <%= link_to 'Daily tasks', root_path, class: 'button-two' %>
  </div>
<% end %>
</div>