<!DOCTYPE html>
<html>
  <head>
    <title>Glider</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body> 
    <div id="main">
      <h3 class="login-logo">Task for the day</h3>
      <div id="div11">   
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </div>
      <%= render 'layouts/site/user_info' %>
  
      <div id="wrapper">
        <%= yield %>
      </div>  
  
      
    </div>
    
      <div>
        <footer class="footer">
        © copyright, 2020 
        </footer> 
      </div>
  </body>
</html>
